{
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "O": "jafow",
      "OU": "{{ template_host }} store",
      "L": "Los Angeles",
      "ST": "California",
      "C": "USA"
    }
  ],
  "CN": "etcd-root-ca"
}
