{
  "hosts": [
    "127.0.0.1",
    "localhost",
    "10.10.0.11",
    "10.10.0.12",
    "10.10.0.13",
    "10.10.0.14",
    "10.10.0.15",
    "10.10.0.16",
    "192.168.1.45",
    "192.168.1.76",
    "192.168.1.156"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "O": "jafow",
      "OU": "atomicpi store",
      "L": "Los Angeles",
      "ST": "California",
      "C": "USA"
    }
  ],
  "CN": "etcd-root-ca"
}
