{
  "key": {
    "algo": "ed25519",
    "size": 4096
  },
  "names": [
    {
      "O": "etcd",
      "OU": "etcd Security",
      "L": "San Francisco",
      "ST": "California",
      "C": "USA"
    }
  ],
  "CN": "s1",
  "hosts": [
    "127.0.0.1",
    "localhost",
    "emma",
    "simon",
    "anthony",
    "lachy",
    "10.10.0.11",
    "10.10.0.12",
    "10.10.0.13",
    "10.10.0.14",
    "10.10.0.15",
    "10.10.0.16"
  ]
}
